<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Blog</title>
</head>

<body>
  {% if user %}
  <a href="/blog" class="main-title">
    Blog
  </a>
  {% else %}
    <a href="/blogout/?" class="main-title">
    Blog
    </a>
  {% endif %}


  <div class="login-area">
    {% if user %}
      <a class="welcome-link" href="/unit3/welcome">{{user.name}} profile</a> | (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      {% if user %}
      |
      <a class="login-link" href="/signup">signup</a>
      {% endif %}
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

