{% extends "base.html" %}

{% block content %}
  <div class="error">{{error}}</div>

<div class="container">
    <div class="post">
      {% for p in posts %}

            {{ p.render() | safe }}
            <br>
            Comments:
            {% for comment in comments%}
                    {% if comment.idpost == p.key().id()%}
                    <hr>
                    <strong>author: {{comment.username}}</strong>
                    <br>
                    {{comment.textcomment}}
                    <form method="post">
                        {% set idp = p.key().id() %}
                        <input type="hidden" name="idp" value="{{idp}}">
                        {% set commautor = comment.username %}
                        <input type="hidden" name="commautor" value="{{commautor}}">
                        <input type="hidden" name="deletecomment" value="deletecomment">
                        <button type="submit">delete comment</button>
                    </form>

                    <form method="post">
                        {% set idp = p.key().id() %}
                        <input type="hidden" name="idp" value="{{idp}}">
                        {% set commautor = comment.username %}
                        <input type="hidden" name="commautor" value="{{commautor}}">
                        <input type="hidden" name="editcomm" value="editcomm">
                        <button type="submit">edit</button>
                    </form>
                  {% endif %}
            {% endfor %}

            <p><p>
            <hr>
            <form method="post">
                    {% set idp = p.key().id() %}
                    <input type="hidden" name="idp" value="{{idp}}">
                    <input type="hidden" name="addcomment" value="addcomment">
                    <button type="submit">add comment</button>
            </form>

        <br><br>
        {% endfor %}
    </div>
</div>
{% endblock %}