<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
  </head>

  <body>

    <h2>Login</h2>
    <div class="login-area">
      <a class="login-link" href="/signup">signup</a>
    </div>

    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <input type="submit">
    </form>

    <div class="blog-area">
      <a href="/blog/">Blog</a>
    </div>

    <div class="main-area">
      <a href="/" class="main-title">back to main page</a>
    </div>
  </body>

</html>
