{% extends "base.html" %}

{% block content %}
  <h2>New comment</h2>

    <form method="post">
      <label>
        <textarea name="textcomm">{{textcomm}}</textarea>
      </label>

      <div class="error">{{error}}</div>

        {% set idp = p.key().id() %}
        <input type="hidden" name="idp" value="{{idp}}">

        <input type="hidden" name="newcommentdone" value="newcommentdone">
        <button type="submit">Save</button>

    </form>
    <form action="/blog/?">
        <input type="submit" value="Return to blog" />
    </form>

{% endblock %}